<!DOCTYPE html>
<html lang=en>

<head>
<title>{% block head_title %}Performance Collection{% endblock head_title %}</title>
{% include 'snippets/css.html' %}
</head>
<body>
<div class='container'>
<div class="row">
  <div class="col-4" style="background:darkblue">
{% load static %}
<img src="{% static "/images/MusicLibraryLogo100px.png" %}" style="background:darkblue ; padding:1%; "alt="My image" width="30%"/></div>
  {% load static %}
<img src="{% static "/images/_DSF4192.jpg" %}" style="width:100%"alt="My image"/>



{% block content %}{% endblock content %}
</div>


{% include 'snippets/js.html' %}
</body>
</html>
