{% extends 'performance_collection/base.html' %}

{% block content %}
<div style="background-color:lightgrey ; border-bottom:1px solid grey; border-top:1px solid grey;padding:1%;">
 
    <form method="get" action="."> {{ form.as_table }}&nbsp;<input type="submit" value="Search">&nbsp;&nbsp;&nbsp;<h2 style="text-align:center; margin-top:-35px;margin-bottom:-5px"><small>Performance Collection</small></h2>
                
  </div>
        {% if query %}
       <div style="padding:10px">     <h3><small>  Search  Results</small></h3>

            {% for result in page.object_list %}
                <p>
            <h4><medium>   {{ result.object.call_number }}</medium>   <a href="{{ result.object.get_absolute_url }}">{{ result.object.score_title }}</a> / <small>{{ result.object.author }}</small></h4>
                </p><hr />
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            

{% load static %}
<p style="padding:1%;margin:1%"><img src="{% static "/images/scores.jpg" %}" style="background:darkgrey ; margin:1%;float:right;padding:2px" "alt="My image" width="40%"></img>
<h4 style="margin:5px">This collection supports the programs of the Faculty's ensembles. </h4><br />
<i style="margin:5px">Borrowing is limited to current students/faculty and members of Choirs Ontario and Orchestras Canada.</i><br /><br />	

<em style="margin:5px">The Performance Collection office is open Monday to Friday from 1:00pm to 4:30pm, closed on holidays.</em>
<p style="margin:25px">Contact : <a href="mailto:k.wiseman@utoronto.ca?Subject=Performance%20Collection%20question" target="_top">Karen Wiseman</a>
</p>
<hr />
<br /><ul>
<li>For single copies of choral works, search the UTL catalogue, and the Sheet Music database. </li>
<li>Choral music in public domain can also be found at <a href="http://www1.cpdl.org/wiki/index.php/Main_Page">Choral Public Domain Library (CPDL)</a></li>
<li> For individual orchestral parts, consult also<a href="http://go.utlib.ca/cat/6367571"> The Orchestra Musician's CD-ROM Library</a> <br />(M1000 .O65 V. 1-12) at the Music Library Circulation Desk.</li>
 <li>Another free source for orchestral parts is the International Music Score Library Project , <a href="http://imslp.org/">(IMSLP)</a> for parts available in the public domain.</li>
</ul>
</p>

        {% endif %}
    </form>



{% endblock %}
